body {
    padding: 0px;
    margin: 0px;
}

h3 {
    text-decoration: underline;
    -webkit-margin-before: 0px;
}

td {
    border: 1px solid black;
    height: 1.5em;
    width: 1.5em;
}

th {
    height: 1.5em;
    width: 1.5em;
}

#master {
    border: 1px solid red;
    float: left;
    margin: 1%;
    padding: 1%;
    width: 96%;
}

#workers {
    clear: left;
}

.crossed {
    background-color: white;
}

.empty {
    background-color: gray;
}

.filled {
    background-color: black;
}

.hidden {
    display: none;
}

.worker {
    border: 1px solid blue;
    float: left;
    margin: 1%;
    padding: 1%;
    width: 29%;
}