body {
    padding: 0px;
    margin: 0px;
}

th, td {
    border: 1px solid black;
}

th, td {
    height: 1.5em;
    width: 1.5em;
}

#master {
    border: 1px solid red;
}

#log {
    border: 1px solid blue;
}

.worker {
    border: 1px solid green;
}
