<!DOCTYPE html>
<html>
    <head>
        <title>{{.Title}}</title>
        <link rel="stylesheet" type="text/css" href="static/index.css">
    </head>

    <body>
        
        <div id="master">
            {{.Master}}
        </div>

        <div id="log">
            Log
            <ol>
            {{range .Log}}
                <li>{{.}}</li>
            {{end}}
            </ol>
        </div>

        <div id="workers">
            {{range $worker := .Workers}}
                <div class="worker">Worker {{$worker.ID}}</div>
            {{end}}
        </div>
        
    </body>

</html>