<html>
    <head>
        <title>{{.Title}}</title>
        <link rel="stylesheet" type="text/css" href="static/index.css">
    </head>

    <body>
        <div id="master">
            <h3>Master</h3>
            {{template "nonogram" .Master}}
            <button id="solve">Solve</button>
        </div>

        <div id="workers">
            {{range .Master.Workers}}
            <div id="worker_{{.ID}}" class="worker">
                <h3>Worker {{.ID}}</h3>
                {{template "nonogram" .}}
            </div>
            {{end}}
        </div>

        <script src="static/nonogram.js"></script>
        
    </body>
</html>