<html>
    <head>
        <title>{{.Title}}</title>
        <link rel="stylesheet" type="text/css" href="static/index.css">
        {{/* <meta http-equiv="refresh" content="{{.Seconds}}" /> */}}
    </head>

    <body>
        <div id="master">
            {{template "master" .Master}}
        </div>

        <div id="workers">
            {{range .Master.Workers}}
                {{template "worker" .}}
            {{end}}
        </div>

        <script src="static/nonogram.js"></script>
    </body>
</html>