{{define "nonogram"}}
    <p>
        Height: {{.Height}}
        Width: {{.Width}}
    </p>
    <table class="nonogram">
        {{range .Board}}
            <tr>
                {{range .}}
                    <td>&nbsp;</td>
                {{end}}
            </tr>
        {{end}}
    </table>
{{end}}