{{define "nonogram"}}
    {{$longestColumn := longestList $.ColumnHints}}
    {{$longestRow := longestList $.RowHints}}

    <table class="nonogram">
        {{/* Column Hints */}}
        {{range $i := ascending (subtract 0 $longestColumn) 0}}
            <tr>
                {{/* Pad headers from offset of row hints */}}
                {{range $j := ascending 0 $longestRow}}
                    <th></th>
                {{end}}

                {{range $j := ascending 0 $.Width}}
                    {{$columnHeight := len (index $.ColumnHints $j)}}
                    {{$offsetI := add $i $columnHeight}}
                    {{if lt $offsetI 0}}
                        <th></th>
                    {{else}}
                        <th>{{index $.ColumnHints $j $offsetI}}</th>
                    {{end}}
                {{end}}
            </tr>
        {{end}}
        
        {{range $i := ascending 0 $.Height}}
            <tr>
                {{/* Row hints */}}
                {{$rowLength := len (index $.RowHints $i)}}
                {{range $j := ascending (subtract $rowLength $longestRow) $rowLength }}
                    {{if lt $j 0 }}
                        <th></th>
                    {{else}}
                        <th>{{index $.RowHints $i $j}}</th>
                    {{end}}
                {{end}}

                {{/* Board row */}}
                {{range $j := ascending 0 $.Width}}
                    {{if eq (index $.Board $i $j) 0}}
                        <td id="cell_{{$i}}_{{$j}}" class="empty">&nbsp;</td>
                    {{else if eq (index $.Board $i $j) 1}}
                        <td id="cell_{{$i}}_{{$j}}" class="filled">&nbsp;</td>
                    {{else if eq (index $.Board $i $j) 2}} 
                        <td id="cell_{{$i}}_{{$j}}" class="crossed">&nbsp;</td>
                    {{else if eq (index $.Board $i $j) 3}} 
                        <td id="cell_{{$i}}_{{$j}}" class="maybeFilled">&nbsp;</td>
                    {{else if eq (index $.Board $i $j) 4}} 
                        <td id="cell_{{$i}}_{{$j}}" class="maybeCrossed">&nbsp;</td>
                    {{end}}
                {{end}}
            </tr>
        {{end}}
    </table>
{{end}}